# Django
*.pyc
__pycache__/
db.sqlite3
/staticfiles/
.env

# Environnement virtuel
venv/
mon_env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignorer le fichier de configuration Django
*/settings.py
