asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django>=5.0
idna==3.10
python-dateutil==2.9.0.post0
setuptools==80.7.1
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
wheel==0.45.1
gunicorn
mysqlclient
psycopg2-binary
requests
django-jazzmin
django-widget-tweaks
