{% extends 'base.html' %} {% block content %}
<h2>Détails du paiement</h2>
<p><strong>Date paiement :</strong> {{ paiements.date }}</p>
<p><strong>Montant :</strong> {{ paiements.montant|floatformat:0 }}</p>
<p><strong>Méthode :</strong> {{ paiements.methode }}</p>
<p><strong>Actif :</strong> {{ paiements.statut }}</p>
<a href="{% url 'paiement_update' paiements.pk %}" class="btn btn-warning"
  >Modifier</a
>
<a href="{% url 'paiement_delete' paiements.pk %}" class="btn btn-danger"
  >Supprimer</a
>
{% endblock %}
