{% extends 'base.html' %} {% block content %}
<h2 class="mb-4">Mes paiements</h2>
<a
  href="{% url 'paiement_create' abonnement.pk  %}"
  class="btn btn-primary mb-4"
  >Ajouter un paiement</a
>

{% if paiements %}
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Abonnement</th>
      <th>Montant</th>
      <th>Date paiement</th>
      <th>Méthode</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for paiement in paiements %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ paiement.abonnement }}</td>
      <td>{{ paiement.montant|floatformat:0 }}</td>
      <td>{{ paiement.date|date:"j F Y" }}</td>
      <td>{{ paiement.methode }}</td>
      <td>{{ paiement.statut }}</td>
      <td>
        <a
          href="{% url 'paiement_detail' paiement.pk %}"
          class="btn btn-sm btn-outline-info"
          >Voir</a
        >
        <a
          href="{% url 'paiement_update' paiement.pk %}"
          class="btn btn-sm btn-outline-warning"
          >Modifier</a
        >
        <a
          href="{% url 'paiement_delete' paiement.pk %}"
          class="btn btn-sm btn-outline-danger"
          >Supprimer</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Aucun paiement enregistré.</p>
{% endif %} {% endblock %}
