{% extends 'base.html' %} {% block content %}


{% comment %} <a href="{% url 'protocole_update' protocole.pk %}" class="btn btn-warning"
  >Modifier</a
>
<a href="{% url 'protocole_delete' protocole.pk %}" class="btn btn-danger">Supprimer</a
>
 {% endcomment %}


<h2>Détails du protocole du {{ protocole.date_envoi|date:"d/m/Y H:i" }}</h2>

<p><strong>Diagnostic :</strong> {{ protocole.diagnostic }}</p>
<p><strong>Date envoi :</strong> {{ protocole.date_envoi|date:"d/m/Y H:i" }}</p>
<p><strong>Fichier :</strong> 
  {% if protocole.fichier %}
  <a href="{{ protocole.fichier.url }}" target="_blank">Télécharger</a>
  {% endif %}
</p>

<hr>

{% if protocole.fichier %}
  {% with file_url=protocole.fichier.url|lower %}
    {% if file_url|slice:"-4:" == ".pdf" %}
      <embed src="{{ file_url }}" type="application/pdf" width="100%" height="600px" />
    {% elif file_url|slice:"-4:" == ".jpg" or file_url|slice:"-4:" == ".png" or file_url|slice:"-5:" == ".jpeg" %}
      <img width = "200" src="{{ file_url }}" alt="Image du protocole" class="img-fluid" />
    {% else %}
      <p><a href="{{ file_url }}">Télécharger le fichier</a></p>
      <p>Aucune prévisualisation disponible pour ce fichier.</p>
    {% endif %}
  {% endwith %}
  
  <form method="post" action="{% url 'protocole_delete_file' protocole.pk %}" style="margin-top: 20px;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Supprimer le fichier</button>
  </form>
{% endif %}

<form method="post" enctype="multipart/form-data" action="{% url 'protocole_update_file' protocole.pk %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="fichier">Remplacer le fichier :</label>
    <input type="file" name="fichier" required class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>



{% endblock %}
